body {
    background-color: #092328;
    color: #12544F;
    font-family: 'jetBrains mono', monospace;
    padding: 45px;
    max-width: 650px;
    margin: auto;
}

h1 {
    font-size: 1.85rem;
    font-family: 'Black ops one', sans-serif;
    margin-bottom: 0.1rem;
    color: #12544F;
}

.date {
    color: #2A835F;
    font-size: 1.10rem;
    margin-bottom: 1.5rem;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1rem;
    color: #2A835F;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}
img, video {
    width: 100%;
    aspect-ratio: 16 / 9; 
    object-fit: cover; 
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    margin: 1.5rem 0;
}

.explanation {
    font-size: 1.05rem;
    color: #8BBB92;
    margin-top: 1.5rem;
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 25px;
    height: 100vh;
    background: linear-gradient(to bottom, #12544F, #2A835F);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 70% 50%, 100% 100%, 0 100%);
}

body::before {
    left: 0;
}

body::after {
    right: 0;
    transform: scaleX(-1);
}

@media (max-width: 600px) {
    body::before,
    body::after {
        display: none;
    }
}